body {
    margin: 0;
    font-family: "Arial Rounded MT Bold", Arial, sans-serif;
    background-color: #f5e6d3; /* beige */
    color: #8b5e3c; /* marron */

    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* HAUT */
header {
    text-align: center;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
    margin: 20px;
}

/* MILIEU */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* MENU */
#menu {
    margin: 20px;
}

/* BOUTONS */
button {
    background-color: #8b5e3c; /* marron clair */
    color: #f5e6d3; /* beige */
    border: none;
    padding: 12px 20px;
    margin: 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    opacity: 0.8;
}

/* PRODUITS */
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    margin: 15px;
    width: 200px;
}

.card img {
    width: 100%;
    border-radius: 15px;
}

/* RETOUR */
#backBtn {
    margin-top: 20px;
}

/* RESERVATION */
#reservation {
    margin-top: 20px;
}

/* CACHE */
.hidden {
    display: none;
}

/* BAS */
footer {
    text-align: center;
    padding: 20px;
}
